
/* .container{
    background-color: red;
    width: 80%;
    margin: auto;
} */
table{
    width: 100%;
    margin: auto;
}

caption{
    margin: auto;
    width: 50%;
    font-size: 20px;
}


table, td, th{
    border-bottom: 2px solid #ddd; 
    border-collapse:collapse;
}

table{
    width: 70%;
    font-size: 20px;
}

.full-name{
    width: 30%;
}

.courses{
    width: 40%;
}

td, th {
    padding: 20px;
    /* border-color: #96d4d9; */
}

th{
    background-color: rgb(19, 131, 243);
    color: white;
}

.good{
    background-color: green;
    padding: 15px;
}

.better{
    background-color: green;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 40px;
    
}

span{
    background-color:green;
    color: white;
}